body {
  padding: 0;
  margin: 0; /*getting rid of default styling*/
}

#hamburger-button {
  position: relative;
  z-index: 9999; /*so it never gets lost under something*/
  display: inline-block;
  vertical-align: top;
  height: 15px;
  width: 20px;
  margin-left: 5%;
  margin-top: 5%;
}

#hamburger-button:hover {
  cursor: pointer;
  /* changes the cursor to pointer */
}

#hamburger-button > span {
  display: block;
  height: 3px;
  margin-bottom: 3px;
  width: 20px;
  background-color: rgb(0, 0, 0);
  -webkit-transition-timing-function: linear; /* Safari and Chrome */
  transition-timing-function: linear;
  transition-duration: 1s;
}

#hamburger-button.open > span:first-child {
  -webkit-transform: translateY(6px) rotate(45deg); /* Chrome, Safari, Opera */
  transform: translateY(6px) rotate(45deg);
}

#hamburger-button.open > span:nth-child(2) {
  -webkit-transform: rotateY(90deg); /* Safari */
  transform: rotateY(90deg);
  /* rotates the second child on the Y AXIS ONLY 90 degrees so it disappears into a point */
}

#hamburger-button.open > span:last-child {
  -webkit-transform: translateY(-6px) rotate(-45deg); /* Chrome, Safari, Opera */
  transform: translateY(-6px) rotate(-45deg);
}

.navbar {
  position: absolute;
  opacity: 0.9;
  z-index: 888; /*so its above the content but below the burger button*/
  height: 100vh;
  width: 30vw;
  left: -30vw;
  transition: 1s;
  background-color: black;
  color: white;
}

.navbar.open {
  left: 0;
}
.navbar ul {
  list-style: none;
  margin-top: 40%;
  font-size: 1.5em;
}

.navbar ul li {
  border-bottom: 1px solid pink;
  margin-bottom: 10px;
  padding: 5px;
  text-align: left;
}

.navbar ul li:active {
  text-shadow: 1px 1px 3px pink;
  cursor: pointer;
}
