main {
  display: flex;
}
aside {
  background-image: linear-gradient(45deg, #adcbf8, #db8072);
  width: 18.75rem;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.container {
  margin: 8.5rem 2rem;
}
.container a {
  color: #f9fafb;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 20px;
  font-family: system-ui;
  display: block;
}
.toggleButton {
  position: fixed;
  cursor: pointer;
  margin: 2rem 0 0 3.5rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #f9fafb;
  border-radius: 10px;
}
